$animation-time: 1s;
$animations: fade-in, fade-left, fade-right, zoom-in, squishy;

@each $animation in $animations {
   .#{$animation} {
      animation: 1s $animation; 
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-left {
   from {
      transform: translateX(50px) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: translateX(0) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes fade-right {
   from {
      transform: translateX(-50px) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: translateX(0) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes zoom-in {
   from {
      transform: scale(0) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: scale(1) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes squishy {
   0% {
      transform: scale(1, 1) var(--square-rotate);
   }
   70% {
      transform: scale(1.2, 0.8) var(--square-rotate);
   }
   80% {
      transform: scale(1, 1) var(--square-rotate);
   }
   90% {
      transform: scale(1.2, 0.9) var(--square-rotate);
   }
   100% {
      transform: scale(1, 1) var(--square-rotate);
   }
}