$animation-time: 1s;
$animations: fade-in, fade-left, fade-right, zoom-in, zoom-out, squishy, bounce, swing;

@each $animation in $animations {
   .#{$animation} {
      animation: $animation-time $animation; 
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-left {
   from {
      transform: translateX(50px) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: translateX(0) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes fade-right {
   from {
      transform: translateX(-50px) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: translateX(0) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes zoom-in {
   from {
      transform: scale(0) var(--square-rotate);
      opacity: 0;
   }
   to {
      transform: scale(1) var(--square-rotate);
      opacity: 1;
   }
}

@keyframes zoom-out {
   from {
      transform: scale(1) var(--square-rotate);
      opacity: 1;
   }
   to {
      transform-origin: top;
      transform: scale(0) var(--square-rotate);
      opacity: 0;
   }
}

@keyframes squishy {
   0% {
      transform: scale(1, 1) var(--square-rotate);
   }
   70% {
      transform: scale(1.2, 0.8) var(--square-rotate);
   }
   80% {
      transform: scale(1, 1) var(--square-rotate);
   }
   90% {
      transform: scale(1.2, 0.9) var(--square-rotate);
   }
   100% {
      transform: scale(1, 1) var(--square-rotate);
   }
}

@keyframes bounce {
   0% {
      transform: translateY(70px) var(--square-rotate);
   }
   60% {
      transform: translateY(0) var(--square-rotate);
   }
   70% {
      transform: translateY(20px) var(--square-rotate);
   }
   80% {
      transform: translateY(0px) var(--square-rotate);
   }
   90% {
      transform: translateY(10px) var(--square-rotate);
   }
   100% {
      transform: translateY(0) var(--square-rotate);
   }
}

@keyframes swing {
   0% {
      transform: rotate(0);
   }
   70% {
      transform: rotate(20deg);
   }
   80% {
      transform: rotate(-30deg);
   }
   90% {
      transform: rotate(20deg);
   }
   100% {
      transform: var(--square-rotate);
   }
}