html {
   scroll-behavior: smooth;
}

body {
   background: linear-gradient(180deg, #233238 0%, #344A53 70.31%, rgba(52, 74, 83, 0.95) 100%);
   margin: 0;
}

.scroll-down-icon {
   font-size: 48px;
   animation: 1.5s fade-in linear infinite;
}

.animation-info {
   flex: 1;
   margin-left: 90px;
}

.square {
   background: #EDD8ED;
   box-shadow: $shadow;
   border-radius: $border-radius;
   width: 300px;
   height: 300px;
   margin: 20px;

   // &.rotate-left {
   //    transform: rotate(-6.78deg);
   // }
   // &.rotate-right {
   //    transform: matrix(-1, 0, 0, 1, 0, 0);
   // }
}