html {
   scroll-behavior: smooth;
}

body {
   background: linear-gradient(180deg, #233238 0%, #344A53 70.31%, rgba(52, 74, 83, 0.95) 100%);
   margin: 0;
}

.scroll-down-icon {
   font-size: 48px;
   animation: 1.5s fade-in linear infinite;
}

.animation-row + .animation-row {
   margin-top: 164px;
}

.animation-row {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.animation-row--left {
   --square-rotate: rotate(-6.78deg);

   .animation-name {
      margin-left: 90px;
   }
}

.animation-row--right {
   --square-rotate: rotate(6.78deg);

   .animation-name {
      order: -1;
      text-align: right;
      margin-right: 90px;
   }
}

.animation-name {
   width: 300px;
   max-width: 100%;
}

.animation-type + .animation-type {
   margin-left: 20px;
}

.square {
   background: #EDD8ED;
   box-shadow: $shadow;
   border-radius: $border-radius;
   width: 300px;
   height: 300px;
   margin: 20px;
   transform: var(--square-rotate);
}