@import url("https://fonts.googleapis.com/css2?family=Karla&family=Lora:wght@700&display=swap");
body {
  font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: #CAE2ED;
}

div {
  color: #7FB3C8;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 144px;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.fade-in {
  -webkit-animation: 1s fade-in;
          animation: 1s fade-in;
}

.fade-left {
  -webkit-animation: 1s fade-left;
          animation: 1s fade-left;
}

.fade-right {
  -webkit-animation: 1s fade-right;
          animation: 1s fade-right;
}

.zoom-in {
  -webkit-animation: 1s zoom-in;
          animation: 1s zoom-in;
}

.squishy {
  -webkit-animation: 1s squishy;
          animation: 1s squishy;
}

.bounce {
  -webkit-animation: 1s bounce;
          animation: 1s bounce;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-left {
  from {
    -webkit-transform: translateX(50px) var(--square-rotate);
            transform: translateX(50px) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) var(--square-rotate);
            transform: translateX(0) var(--square-rotate);
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    -webkit-transform: translateX(50px) var(--square-rotate);
            transform: translateX(50px) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) var(--square-rotate);
            transform: translateX(0) var(--square-rotate);
    opacity: 1;
  }
}

@-webkit-keyframes fade-right {
  from {
    -webkit-transform: translateX(-50px) var(--square-rotate);
            transform: translateX(-50px) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) var(--square-rotate);
            transform: translateX(0) var(--square-rotate);
    opacity: 1;
  }
}

@keyframes fade-right {
  from {
    -webkit-transform: translateX(-50px) var(--square-rotate);
            transform: translateX(-50px) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) var(--square-rotate);
            transform: translateX(0) var(--square-rotate);
    opacity: 1;
  }
}

@-webkit-keyframes zoom-in {
  from {
    -webkit-transform: scale(0) var(--square-rotate);
            transform: scale(0) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) var(--square-rotate);
            transform: scale(1) var(--square-rotate);
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    -webkit-transform: scale(0) var(--square-rotate);
            transform: scale(0) var(--square-rotate);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) var(--square-rotate);
            transform: scale(1) var(--square-rotate);
    opacity: 1;
  }
}

@-webkit-keyframes squishy {
  0% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
  70% {
    -webkit-transform: scale(1.2, 0.8) var(--square-rotate);
            transform: scale(1.2, 0.8) var(--square-rotate);
  }
  80% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
  90% {
    -webkit-transform: scale(1.2, 0.9) var(--square-rotate);
            transform: scale(1.2, 0.9) var(--square-rotate);
  }
  100% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
}

@keyframes squishy {
  0% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
  70% {
    -webkit-transform: scale(1.2, 0.8) var(--square-rotate);
            transform: scale(1.2, 0.8) var(--square-rotate);
  }
  80% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
  90% {
    -webkit-transform: scale(1.2, 0.9) var(--square-rotate);
            transform: scale(1.2, 0.9) var(--square-rotate);
  }
  100% {
    -webkit-transform: scale(1, 1) var(--square-rotate);
            transform: scale(1, 1) var(--square-rotate);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(70px) var(--square-rotate);
            transform: translateY(70px) var(--square-rotate);
  }
  60% {
    -webkit-transform: translateY(0) var(--square-rotate);
            transform: translateY(0) var(--square-rotate);
  }
  70% {
    -webkit-transform: translateY(20px) var(--square-rotate);
            transform: translateY(20px) var(--square-rotate);
  }
  80% {
    -webkit-transform: translateY(0px) var(--square-rotate);
            transform: translateY(0px) var(--square-rotate);
  }
  90% {
    -webkit-transform: translateY(10px) var(--square-rotate);
            transform: translateY(10px) var(--square-rotate);
  }
  100% {
    -webkit-transform: translateY(0) var(--square-rotate);
            transform: translateY(0) var(--square-rotate);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(70px) var(--square-rotate);
            transform: translateY(70px) var(--square-rotate);
  }
  60% {
    -webkit-transform: translateY(0) var(--square-rotate);
            transform: translateY(0) var(--square-rotate);
  }
  70% {
    -webkit-transform: translateY(20px) var(--square-rotate);
            transform: translateY(20px) var(--square-rotate);
  }
  80% {
    -webkit-transform: translateY(0px) var(--square-rotate);
            transform: translateY(0px) var(--square-rotate);
  }
  90% {
    -webkit-transform: translateY(10px) var(--square-rotate);
            transform: translateY(10px) var(--square-rotate);
  }
  100% {
    -webkit-transform: translateY(0) var(--square-rotate);
            transform: translateY(0) var(--square-rotate);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#233238), color-stop(70.31%, #344A53), to(rgba(52, 74, 83, 0.95)));
  background: linear-gradient(180deg, #233238 0%, #344A53 70.31%, rgba(52, 74, 83, 0.95) 100%);
  margin: 0;
}

.scroll-down-icon {
  font-size: 48px;
  -webkit-animation: 1.5s fade-in linear infinite;
          animation: 1.5s fade-in linear infinite;
}

.animation-row + .animation-row {
  margin-top: 164px;
}

.animation-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animation-row--left {
  --square-rotate: rotate(-6.78deg);
}

.animation-row--right {
  --square-rotate: rotate(6.78deg);
}

.animation-row--right .animation-name {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
}

.animation-name {
  margin-left: 90px;
  width: 300px;
  max-width: 100%;
}

.animation-type + .animation-type {
  margin-left: 20px;
}

.square {
  background: #EDD8ED;
  -webkit-box-shadow: 10px 10px 51px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 51px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 300px;
  height: 300px;
  margin: 20px;
  -webkit-transform: var(--square-rotate);
          transform: var(--square-rotate);
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */